/*
COLORS:

Light green: #7ed56f rgb(126,213,111)
Medium green: #55c57a
Dark green: #28b485 rgb(40,180,133)

*/

/* Reset START */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* equal to 10px - if the default font-size is 16px */
}

body {
    font-family: Lato, sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: #777;

    padding: 3rem;
    box-sizing: border-box;
}

/* Reset END */
