/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
    section {
        padding: 25px 0;
    }
    .contact-form {
        width: 100%;
    }
    .hero-text-box {
        text-align: center;
    }

    .footer-nav li {
        display: block;
    }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {
    body {
        font-size: 16px;
    }
    .contact-form {
        width: 80%;
    }
    .hero-text-box,
    .row {
        padding: 0 4%;
    }
    .col {
        width: 100%;
    }
    .main-nav {
        display: none;
    }
    .long-copy {
        width: 100%;
        margin-left: 0;
    }
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    .app-screen {
        width: 40%;
    }
    .works-step {
        margin-bottom: 20px;
        font-size: .9rem;
    }
    .steps-box:first-child {
        text-align: center;
    }
    .works-step:last-of-type {
        margin-bottom: 20px;
    }
    .works-step div {
        width: 40px;
        height: 40px;
        margin-right: 15px;
        padding: 4px;
        line-height: 30px;
        font-size: 1.2rem;
    }
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

    .footer {
        padding: 50px 5%;
    }

    .footer .col {
        width: 50%;
    }


}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {
    body {
        font-size: 18px;
    }
    section {
        padding: 60px 0;
    }

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    .steps-box:first-child, .steps-box:last-child {
        margin-top: 10px;
    }

    .works-step {
        margin-bottom: 40px;
        font-size: .9rem;
    }

    .works-step:last-of-type {
        margin-bottom: 60px;
    }

    .app-screen {
        width: 50%;
    }

    .icon-small {
        width: 17px;
        margin-right: 5px;
    }

    .city-feature {
        font-size: .8rem;
    }

    .plan-box {
        width: 100%;
        margin-left: 0;
    }

    .plan-box div {
        font-size: 1rem;
    }

    .plan-price {
        font-size: 2.5rem;
    }

    .contact-form {
        width: 80%;
    }
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) {
    .row {
        padding: 0 2%;
    }

    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
}
